@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Ms+Madi&display=swap');

body {
    background-color: rgb(231, 249, 183);
}

.heading {
    text-align: center;
}

.playground-heading {
    color: darkblue;
    font-family: 'Montserrat', sans-serif;
    font-size: 5rem;
}

.main {
    border: 3px solid gray;
    width: 55%;
    margin: 1rem auto;
}

.main div {
height: 200px;
width: 200px;
border: 1px solid black;
border-radius: 50%;
margin: 2rem auto;
}

#red {
    border-color: red;
}

#green {
    border-color: green;
}

#blue {
    border-color: blue;
}

.footer {
text-align: center;
font-size: 2rem;
font-family: 'Ms Madi', cursive;
}